{% extends 'ChaRate/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %} 

{% block body_block %}

<div class="container">
    <div class="bblock">
        <h1>Login to ChaRate</h1>
        <p>
            Don't have an account?
        </p>
        <p>
        <a class="button" href= "{%  url 'register' %}" style='float:None'>Register here!</a>
        </p>
    </div>
    <div class="bblock" id="dark">
    <form id="login_form" method="POST" action="{% url 'login' %}">
        <!-- {% csrf_token %} -->
        <p>Username</p>
        <p><input type="text" name="username" placeholder="Enter Username..." value="" size="70%" /></p>
        <p>Password</p>
        <p><input type="password" name="password" placeholder="Enter Password..."  value="" size="70%"/></p>
    </div>
        <p><button class="button" type="submit" value="submit" ><span>Login</span></button></p>
    </form>
</div>

{% endblock %}
